<% if notice %>
<p id = "notice"><%= notice %></p>
<% end %>

<!-- 自由課題D このページに来た回数が5回以上の場合のみ表示する -->
<% if @counter >= 5 %>
このページに来た回数は<%= @counter %>回です
<% end %>

<h1>Pragmaticカタログ</h1>

<% @products.each do |product| %>
  <div class = "entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>
    <div class = "price_line">
      <span class = "price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'カートに入れる', line_items_path(product_id: product) %>
    </div>
  </div>
<% end %>