<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Booksオンラインストア</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- controller毎に特有のcssを読み込むために、controllerの名前と同じcssを読み込む、という設定にする -->
<body class = '<%= controller.controller_name %>'>
  <div id = "banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id = "columns">
    <div id = "side">
      <ul>
        <li><a href = "">ホーム</a></li>
        <li><a href = "">よくある質問</a></li>
        <li><a href = "">ニュース</a></li>
        <li><a href = "">お問い合わせホーム</a></li>
        <li>現在の時刻は<%= Time.now.strftime("%I:%M %p") %>です</li>
      </ul>
    </div>
    <div id = "main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
